* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --smaller-text-color: hsl(224, 23%, 55%);
  --header-text-color: hsl(223, 47%, 23%);
}

body,
button {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: hsl(225, 100%, 94%);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card__wrapper {
  background: #fff;
  width: 80vw;
  margin: 1rem auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__hero {
  flex-shrink: 1;
}

.card__hero__img {
  width: 100%;
}

.card__content,
.card__bottom__buttons {
  flex-grow: 1;
  padding: 0.5rem;
}

.card__content__title,
.card__content__text {
  text-align: center;
}

.card__content__title,
.card__content__checkout__middle h3 {
  color: var(--header-text-color);
  font-size: 1rem;
}

.card__content__text {
  font-size: 16px;
  color: var(--smaller-text-color);
  padding: 1rem 0;
  margin: 0 1rem;
}

.card__content__checkout {
  background: hsl(225, 100%, 98%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0 1rem;
}

.card__content__checkout__image {
  width: 40px;
  height: 40px;
}

.card__content__checkout__middle__price {
  color: var(--smaller-text-color);
  font-size: 0.7rem;
}

.card__content_checkout__right__text {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-size: 0.8rem;
}

.card__bottom__buttons {
  width: 100%;
  margin-bottom: 1rem;
}

.card__payment__button {
  border: none;
  display: block;
  margin: 0 auto;
  height: 2.5rem;
  width: 80%;
  background: hsl(245, 75%, 52%);
  color: #fff;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 0px 10px 10px 0px #aaa;
  font-size: 0.8rem;
}

.card__cancel__text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--smaller-text-color);
}

@media (min-width: 376px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: repeat-x;
  }
  .card__wrapper {
    width: 300px;
    height: 30rem;
  }

  .card__content_checkout__right__text:hover {
    cursor: pointer;
    color: var(--smaller-text-color);
    text-decoration: none;
  }

  .card__cancel__text:hover {
    cursor: pointer;
    color: var(--header-text-color);
  }

  .card__payment__button:hover {
    cursor: pointer;
    background: var(--smaller-text-color);
  }
}
